<html>
    <head>
        <link rel='stylesheet' href='/static/css/gamestyle/game.css'>
        <script src='/static/js/jquery.min.js'></script>
       
    </head>
    <body>
        <h1>Welcome Fellow</h1>
        <div id='engine'>
            <!-- <div class='screen-bg'>
                <div class='screen-display'>
                    
                </div>
            </div>
            <div class='interactive'></div> -->
        </div>
        <button id='clear' >clear</button>
    </body>
    <script src='/static/js/engine/mud.engine.js'></script>
    <script src='/static/js/engine/mud.event.register.js'></script>
    <script src='/static/js/engine/mud.operator.js'></script>
</html>