{% extends '__base__.html' %} {% block title %}编辑游戏{% endblock %}

{% block beforehead %}
<script src="/static/js/myvue/observer.js"></script>
<script src="/static/js/myvue/js/watcher.js"></script>
<script src="/static/js/myvue/js/compile.js"></script>
<script src="/static/js/myvue/js/mvvm.js"></script>
<script>
    var
        ID = '{{ id }}',
        action = '{{ action }}';

   
    
    function initVM() {
        var vm = new MVVM({
            el: '#vm',
            data:{
                process: '',
                stagename: '',
                story: '',
                chose: '',
                refstoryid: '',
                author: ''
            },
            // watch:{
            //     process:function(val){
            //         this.process = val
            //     }
            // },
            methods: {
                submit: function (event) {
                    // event.preventDefault();
                    let $form = $('#vm').find('form');
                   
                    $form.postJSON(action, this.$data, function (err, r) {
                        if (err) {
                            // console.log(err)
                            alert(err.message)
                            $form.showFormError(err);
                        } else {
                            return location.assign('/game/text');
                        }
                    });
                },
                savestage:function(){
                    // alert("1")
                    let $form = $('#vm').find('form');
                    d={
                        stagename:this.$data.stagename,
                        process:this.$data.process
                    }
                    console.log(d)
                    $form.postJSON('/api/game/savestage',d,function(err,r){
                        if (err) {
                            // console.log(err)
                            alert(err.message)
                            $form.showFormError(err);
                        } else {
                            return location.assign('/game/text');
                        }
                    })
                }
            
            }
        });
        $('#vm').show();
    }
    $(function () {
        $('#loading').hide();
        initVM();
    });

</script>
<style>
    .content-branch {
        float: left;
        width: 300px;
        height: 500px;
    }
    .content-edit{
        padding-left: 10px;
        float: left;
    }
    .clearfix:after{
        content: "020"; 
        display: block; 
        height: 0; 
        clear: both; 
        visibility: hidden;  
        }
      
      .clearfix {
        /* 触发 hasLayout */ 
        zoom: 1; 
        }
    /* .branch{
        width:300px;
        height:500px;
    } */

</style>
{%endblock%} {% block content %}

<h1>Game Manage</h1>
<div class="aden-container clearfix">
    <div class="content-branch">
        
        <canvas class='branch' id='branch'></canvas>
        
    </div>
    <div class='content-edit '>
        <div id='loading'></div>
        <div class="edit-area" id='vm'>
            <form>
                <div class='aden-alert-danger'></div>
                <div>
                    <span>进程位置: </span>
                    <input v-model="process"  name='process' />
                   
                    <!-- <div v-text='process'></div>45 -->
                    <span>进程名称: </span>
                    <input v-model="stagename" name="stagename" id='stagename' />
                    <button v-on:click="savestage()" type="button">保存stage</button>
                </div>
                <div>
                    <p>事件</p>
                    <textarea v-model="story" name=story id='story'></textarea>
                </div>
                <div>
                    <p>选项:(#分割)</p>
                    <input v-model="chose" name="chose" id='chose' />
                    <p>下一步故事ID:(对用选项#分割)</p>
                    <input v-model="refstoryid" name='refstoryid' />
                </div>
                <div>
                    <p>作者:(默认登陆名#)</p>
                    <!-- 早期作者名显示 -->
                    <span class='aden-tag'>adensW</span>
                    <input v-model="author" name='author' id='author' />
                </div>
                <div>
                    <button v-on:click="submit() " type="submit">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src='/static/js/canvas/stats.js'></script>
<script src='/static/js/canvas/branch.draw.js'></script>
{% endblock %}