{% extends '__base__.html' %}

{% block title %}编辑游戏{% endblock %}

{% block beforehead %}


{%endblock%}

{% block content %}

<h1>Game Manage</h1>
<div class="aden-container">
    <div class="content-branch">
        <div></div>
    </div>
    <div class="edit-area">
        <form>
            <div class=''></div>
            <div><span>进程: </span><input id='process'/></div>
            <div>
                <p>事件</p>
                <textarea id='story'></textarea>
            </div>
            <div>
                <p>选项:(#分割)</p>
                <input id='chose'/>
            </div>
            <div>
                <p>作者:(默认登陆名#)</p>
                <!-- 早期作者名显示 -->
                <span class='aden-tag'>adensW</span>
                <input id='author' /></div>
            <div>
                <button type="submit">保存</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}